.rishikesh {
  padding: 0 20px 0 20px;
}

.rishikesh-heading {
  font-size: 2.5rem;
 padding:20px;
  
  margin-left: 25px;
}

.rishikesh-heading::after {
  content: "";
  padding: 2px;
  width: 5%;
  display: flex;
  background-color: #32b67a;
}

.rishikesh-content {
  font-size: 20px;
  color: #666666;
/*   margin-left: 25px; */
  margin-right: 25px;
}

.App {
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: 0;
}

h2 {
  font-size: 1.5em;
  color: #333;
}

.things-to-do {
  list-style-type: disc;
  padding-left: 20px;
}

.things-to-do li {
  margin-bottom: 10px;
  font-size: 1em;
  color: #555;
}

.things-to-do .highlight {
  font-weight: bold;
  color: #333;
}

/* Sub-section styles */
.camping {
  margin-top: 20px;
  font-size: 40px;

  line-height: 1.125em;
  font-weight: 500;
  margin-bottom: 30px;
  text-align: center;
  position: relative;
}

.camping h2 {
  background-color: #f6f6f6;
  display: inline-block;
  position: relative;
  color: rgb(0, 0, 0);
  padding: 0 30px;
  font-weight: 500;
  z-index: 1;
  font-size: 2rem;
}

.camping::after, .camping::before {
  content: "";
  padding: 0.5px;
  display: flex;
  position: absolute;
  width: 100%;
  background-color: rgb(144, 144, 144);
}

.camping-div  {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 30px;
}

/* Individual card styles */
/* .card { */
  /* background-color: #f4f4f4;/ */
  /* border: 1px solid #ddd; */
  /* border-radius: 1px; */
  /* box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); */
  /* padding: 20px; */
  /* flex: 1; */
  /* min-width: 100px;  */
  /* max-width: 100px;  */
  /* display: grid; */
  

/* } */

/* Responsive styles */
@media (max-width: 1024px ) {
  .card-container {
    justify-content: space-around;
    min-width: 200px; /* Ensures cards have a minimum width */
    max-width: 300px;
    padding: 15px 0 15px 0;
    /* padding-left: 20px; */
  }
  .camping-div {
    margin: 0 -15px 0 -10px;
    /* padding: 10px !important; */
    padding-left: 20px;
    
  }
}

@media (max-width: 768px) {
  .card-container {
    display: grid; 
    grid-template-columns: repeat(2, 1fr);

  }
  .camping-div{ justify-content: center;}
}

@media (max-width: 425px) {
  .card-container {
    /* display: 100%;
    width:  100%;
    padding: 50px 10px; */
    width: 425px;
    margin-left: -20px;
    margin-right: 50px;
  }
}

@media (max-width: 375px) {
  .camping-div {
    width: 400px;
    margin-left: -40px;
  }
}
@media (max-width: 480px) {
  .card-container {
    justify-content: space-around;
    display: contents;
    font-display: 120%;
    width: 200px; 
    margin-bottom: 15px;
    height: 100%;
    width: 350px;
    margin-left: -30px;
    margin-right: -30px; 
  }
}

@media (max-width: 320px) {
  .rishikish-content {
    width: 390px;;
    margin: 0 0 0 5px
  }
  .camping-div {
    margin-left: -3%;
    padding-left: 5px;

        width: 105%
  }
}
/* .camping-div, .friend-div, .rafting-div, .sports-div {
  justify-content: space-around;
  align-items: flex-start;
  padding: 20px;
  gap: 20px;
}

.camping-div, .friend-div, .rafting-div, .sports-div {
  min-width: 100%;
  max-width: 100%;
} */

/* @media (max-width: 768px) {
  .card-container {
    justify-content: space-around;
    min-width: 200px; 
    max-width: 300px;
  }
}

@media (max-width: 425px) {
  .card-container {
    display: 100%;
    min-width: 200px; 
    max-width: 300px;
  }
}

@media (max-width: 320px) {
  .card-container {
    justify-content: space-around;
    display: contents;
    font-display: 120%;
    justify-content: center;
  }
} */

.camping::after {
  top: 45%;
}

.camping::before {
  top: 50%;
}

/* Responsive section styles */
@media (max-width: 768px) {
  .camping {
    font-size: 30px;
  }

  .camping h2 {
    font-size: 1.5rem;
  }
}

@media (max-width: 480px) {
  .camping {
    font-size: 25px;
  }

  .camping h2 {
    font-size: 1.2rem;
    padding: 0 20px;
  }
}

/* @media (max-width: 768px) {
  .camping-div {
    display: flex;
  }
} */
/* @media(max-width:900px){ */
  
/* 
}
.camping-div{
   padding: 0 0 0 50px  !important;
} */
