.Kashmir-details-container {
    width: 100%;
    height: 100%;
    display: flex;
    padding: 20px 50px;
    scroll-behavior: smooth;
  }
  
  .Kashmir-detail-right {
    width: 60%;
  }
  
  .Kashmir-detail-left {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 30px;
  }
  
  .Kashmir-detail-title {
    width: 100%;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .Kashmir-detail-title h1 {
    font-size: 2rem;
    margin-top: 1em;
    margin-bottom: 1em;
  }
  
  .Kashmir-detail-title h1::after {
    content: "";
    display: flex;
    padding: 2px;
    width: 50%;
    background-color: #32b67a;
  }
  
  .Kashmir-no-days {
   width: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 1px 1px 1px rgb(211, 210, 210);
} 
  
  .Kashmir-details-images-slider {
    position: relative;
    width: 100%;
    overflow: hidden;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    height: 600px;
  }
  
  .Kashmir-details-card-image {
    width: 100%;
    height: 85%;
    object-fit: cover;
    border-radius: 10px;

  }
  
  /* Arrow buttons */
  .Kashmir-details-arrow {
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 2em;
    border-radius: 50%;
    z-index: 10;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
  }
  
  .Kashmir-details-images-slider:hover .details-arrow {
    opacity: 1;
    visibility: visible;
  }
  
  /* Positioning for left and right arrows */
  .Kashmir-details-arrow.left {
    left: 10px;
    padding: 8px 16px;
  }
  
  .Kashmir-details-arrow.right {
    right: 10px;
    padding: 8px 16px;
  }
  
  .Kashmir-detail-description {
    margin-top: 50px;
  }
  
  .Kashmir-detail-description p {
    font-size: 1rem;
  }
  
  .Kashmir-info-details {
    display: flex;
    width: 100%;
    border: 1px solid black;
    justify-content: space-evenly;
    background-color: rgb(255, 255, 255);
  }
  
  .Kashmir-detail-nav-sticky {
    position: sticky;
    top: 0;
    background-color: rgb(255, 255, 255);
    font-size: 1.5em;
    margin-top: 20px;
    width: auto;
    max-width: 100%;
    justify-content: space-around;
    height: 10vh;
    display: flex !important;
    align-items: center;
    box-sizing: border-box;
    z-index: 10;
  }
  
  .Kashmir-detail-nav-sticky ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    border: 1px solid black;
    position: relative;
    height: 100%;
  }
  
  .Kashmir-detail-nav-sticky ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    flex: 1;
    text-align: center;
    position: relative;
  }
  
  .Kashmir-detail-nav-sticky ul li::after {
    content: "";
    position: absolute;
    right: 0;
    top: -2px;
    bottom: -2px;
    width: 1px;
    background-color: black;
  }
  
  .Kashmir-detail-nav-sticky ul li:last-child::after {
    display: none;
  }
  
  .Kashmir-detail-overview {
    margin-top: 50px;
  }
  
  .Kashmir-detail-overview p {
    font-size: 1.3rem;
  }
  
  .Kashmir-detail-overview h1,
  .Kashmir-detail-itinerary h1,
  .Kashmir-inclusions-container h1,
  .Kashmir-hotel-container,
  .Kashmir-optional-container{
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: 20px;
  }
.Kashmir-details-container{
  /* font-size: 1.3rem; */
}
.Kashmir-details-container p{
  font-size: 1.2rem;
}
.Kashmir-details-container h1{
  margin-bottom: 2%;
}
  
  .Kashmir-detail-itinerary {
    margin-top: 50px;
  }
  
  .Kashmir-qna-container {
    margin-top: 50px;
  }
  
  .Kashmir-question h2 {
    font-size: 1.3rem;
    font-weight: 500;
  }
  
  .Kashmir-answer p {
    font-size: 1.3rem;
  }
  
  .Kashmir-exclusion-container,
  .Kashmir-inclusions-container {
    margin-top: 50px;
  }
  
  .Kashmir-inclusion {
    margin-top: 10px;
  }
  
  .Kashmir-inclusion p,.Kashmir-exclusion p {
    margin-top: 1.5rem;
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  .Kashmir-detail-price-container {
    width: 80%;
    height: 300px;
    padding: 50px;
    margin-top: 50px;
    background-color: white;
  }
  
  .Kashmir-detail-discount {
    margin-bottom: 20px;
  }
  
  .Kashmir-detail-discount h1 {
    padding: 5px 10px;
    display: inline;
    background-color: #fceaea;
    color: #e75040;
    font-weight: 500;
  }
  
  .Kashmir-originalPrice span {
    display: inline-flex;
    margin-right: 10px;
    font-size: 1rem;
  }
  
  .Kashmir-originalPrice span del {
    color: #919191;
    font-size: 1.3rem;
    font-weight: 500;
  }
  
  .Kashmir-finalPrice h1 {
    font-weight: 600;
    font-size: 2rem;
  }
  
  .Kashmir-finalPrice span {
    color: #919191;
  }
  
  .Kashmir-availableBtn {
    width: 100%;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #32b67a;
    color: white;
    font-weight: 500;
    font-size: 1.2rem;
    height: 50px;
    border-radius: 5px;
  }
  .Kashmir-tripAdvisor-container {
    width: 250px;
    padding: 20px;
    margin-top: 20px;
    border: 1px solid green;
  }
  .Kashmir-tripAdvisor-img {
    width: 100px;
  }
  .Kashmir-tripAdvisor-content h2 {
    font-weight: 700;
    margin-top: 20px;
    line-height: 10px;
    color: black;
  }
  
  
  /* Accordation Itinerary Css */
  
  .Kashmir-qna-container {
    margin-bottom: 10px;
  }
  
  .Kashmir-accordion-header {
    cursor: pointer;
    background: #f0f0f0;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .Kashmir-accordion-content {
    padding: 10px;
    background: #fff;
    border: 1px solid #ccc;
  }
  
  .Kashmir-accordion-content p{
    font-size: 1.3rem;
    padding: 15px;
  }

  
 @media (max-width: 1024px) {
  .Kashmir-detail-price-container{
    position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 15px;
        box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
        background-color: #fff;
        z-index: 1000;
        border-top: 1px solid #ddd;
        font-size: 0.8em;
        border-radius: 0;
    }
  
    .Kashmir-details-container  {
        padding-bottom: 80px;
        flex-direction: column;
        padding: 20px;
    }
  
    .Kashmir-detail-left,
    .Kashmir-detail-right {
        width: 100%;
        margin-bottom: 20px;
        padding: 0;
  
    }
  
    .Kashmir-detail-title h1 {
        font-size: 1.8em;
    }
  
    .Kashmir-detail-description p,
    .Kashmir-detail-overview p {
        font-size: 1.2em;
    }
  
    .Kashmir-finalPrice h1 {
        font-size: 1.2em;
    }
  
    .Kashmir-details-images-slider {
        height: 300px;
    }
  
    .Kashmir-originalPrice span {
        font-size: 0.9em;
    }
  
    .Kashmir-detail-discount {
        margin: 10px;
    }
  
    .Kashmir-details-card-image {
        height: 100%;
    }
  
    .Kashmir-detail-nav-sticky {
        font-size: 1rem;
        margin-top: 8%;
        width: 100%;
    }
  
    .Kashmir-detail-nav-sticky ul {
        flex-direction: row;
    }
  
    .Kashmir-detail-nav-sticky ul li {
        padding: 5px;
        font-size: 1.2em;
    }
  
    .Kashmir-availableBtn {
        font-size: 0.9em;
        padding: 10px;
        margin-top: 0;
        margin-left: 8px;
    }
  
    .Kashmir-tripAdvisor-heading {
        font-size: 1em;
    }
  
    .Kashmir-tripAdvisor-content h2 {
        margin-top: 5%;
    }
  
    .Kashmir-tripAdvisor-container {
        width: 100%;
        padding: 20px;
        margin-top: 20px;
        border: 1px solid green;
        text-align: center;
    }
    .Kashmir-tripAdvisor-container p{
        font-size: 1.2em;
        margin-top: 5%;
    }
    .Kashmir-tripAdvisor-img img{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
  
    .Kashmir-tripAdvisor-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
  
    .Kashmir-tripAdvisor-content .text-green-500 {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.25rem;
        margin-bottom: 8%;
  
    }
  
    .Kashmir-availableBtn {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #32b67a;
        color: white;
        font-weight: 500;
        font-size: 1.2rem;
        height: 50px;
        border-radius: 5px;
    }
  }
  
  @media (max-width: 768px) {
    .Kashmir-detail-nav-sticky {
        font-size: 0.8rem; 
    }
  
    .Kashmir-detail-price-container {
        font-size: 0.7rem; 
    }
  
    .Kashmir-detail-title h1 {
        font-size: 1.5em; 
    }
  
    .Kashmir-detail-description p,
    .Kashmir-detail-overview p {
        font-size: 0.9em;
    }
    .Kashmir-tripAdvisor-img img{
        display: flex;
        justify-content: center;
        align-items: center;
       text-align: center;
    }
  
  }
  
  @media (max-width: 480px) {
    .Kashmir-detail-nav-sticky {
        font-size: 0.75rem; 
        padding: 8px;
    }
  
    .Kashmir-detail-price-container {
        flex-direction: row; 
        align-items: center;
        font-size: 0.7rem; 
        padding: 8px;
    }
  
    .Kashmir-detail-title h1 {
        font-size: 1.3em;
    }
  
    .Kashmir-detail-description p,
    .Kashmir-detail-overview p {
        font-size: 0.9em;
    }
    .Kashmir-tripAdvisor-img img{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .Kashmir-inclusion{
        font-size: 0.9em;
    }
  }
  




 